extends user

block profileContent

    .card-body.border-left.border-right
      each item in profile.content
        .post.container.border-bottom
          a(href=`/user/${item.username}`)
            .avatar-sm
              img(src=`/images/avatar/${(item.avatar) ? item.avatar : 'default'}.webp`)
          .h6
            a(href=`/user/${item.username}`) #{item.username}
