extends layout

include mixins/post
include mixins/forms
include mixins/modals

block content

  //- Sidebar

  #sidebar.border-right
    .container.float-left.mb-3
      a(href=`/user/${myUsername}`)
        .avatar-md.float-left.mr-3
          img(src=`/images/avatar/${avatar}.webp`, onerror='this.src="/images/avatar/default.webp"')

      .h5.mt-3.mb-2 #{user.username}
      a(href='/settings')
        button.btn.btn-primary.mt-2(type='button') Settings

    .container.float-left
      .h4.float-left New Post
      +postForm('/post/new', 'post-form')

  //- Feed

  .feed
    #posts
      +posts(feed)

    .load-more#load-more(data-page=1)

  //- Modals

  +commentModal()
  +repostModal()