extends layout

block content

  - var avatar = (user.avatar) ? user.avatar : 'default'

  #sidebar.border-right
    .container.float-left.mb-3
      a(href=`/user/${myUsername}`)
        .avatar-md.float-left.mr-3
          img(src=`/images/avatar/${avatar}.webp`)

      .h5.mt-3.mb-2 @#{user.username}
      button.btn.btn-primary.mt-2(type='button') Settings
      button.btn.btn-danger.mt-2(type='button' onclick='location.href=\'/logout\'') Logout

    .container.float-left
      .h4.float-left New Post
      form(action='/home/post', method='post', id='post-form')
        .form-group
          textarea.form-control(rows='5', name='postText')
          button.btn.btn-primary.mr-1.mt-1(type='button') Image
          button.btn.btn-primary.mt-1(type='submit') Post

  #feed

    //- .post.container
    //-   .avatar-sm
    //-     img(src='/images/cat2.png')
    //-   .h6 @harry2
    //-   p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec blandit nibh, nec efficitur nulla. Sed consequat purus ut elit ullamcorper, ut bibendum urna auctor. Fusce vulputate tincidunt libero, ac iaculis mauris.
    //-   .btn-toolbar(role='toolbar' aria-label='Toolbar with button groups')
    //-     .btn-group.mr-2(role='group', aria-label='First group')
    //-       button.btn.btn-outline-primary(type='button') Comment
    //-       button.btn.btn-outline-primary(type='button') Like
    //-       button.btn.btn-outline-primary(type='button') Repost
    //-     .btn-group(role='group', aria-label='Second group')
    //-       button.btn.btn-outline-secondary(type='button') 10m
    //- hr

    //- .post.container
    //-   .avatar-sm
    //-     img(src='/images/cat3.png')
    //-   .h6 @harry3
    //-   p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec blandit nibh, nec efficitur nulla. Sed consequat purus ut elit ullamcorper, ut bibendum urna auctor. Fusce vulputate tincidunt libero, ac iaculis mauris.
    //-   .btn-toolbar(role='toolbar' aria-label='Toolbar with button groups')
    //-     .btn-group.mr-2(role='group', aria-label='First group')
    //-       button.btn.btn-outline-primary(type='button') Comment
    //-       button.btn.btn-outline-primary(type='button') Like
    //-       button.btn.btn-outline-primary(type='button') Repost
    //-     .btn-group(role='group', aria-label='Second group')
    //-       button.btn.btn-outline-secondary(type='button') 10m
    //- hr

    //- .post.container
    //-   .avatar-sm
    //-     img(src='/images/cat.png')
    //-   .h6 @harry
    //-   p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec blandit nibh, nec efficitur nulla. Sed consequat purus ut elit ullamcorper, ut bibendum urna auctor. Fusce vulputate tincidunt libero, ac iaculis mauris.
    //-   .btn-toolbar(role='toolbar' aria-label='Toolbar with button groups')
    //-     .btn-group.mr-2(role='group', aria-label='First group')
    //-       button.btn.btn-outline-primary(type='button') Comment
    //-       button.btn.btn-outline-primary(type='button') Like
    //-       button.btn.btn-outline-primary(type='button') Repost
    //-     .btn-group(role='group', aria-label='Second group')
    //-       button.btn.btn-outline-secondary(type='button') 10m
    //- hr

    //- .post.container
    //-   .avatar-sm
    //-     img(src='/images/cat2.png')
    //-   .h6 @harry2
    //-   p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec blandit nibh, nec efficitur nulla. Sed consequat purus ut elit ullamcorper, ut bibendum urna auctor. Fusce vulputate tincidunt libero, ac iaculis mauris.
    //-   .btn-toolbar(role='toolbar' aria-label='Toolbar with button groups')
    //-     .btn-group.mr-2(role='group', aria-label='First group')
    //-       button.btn.btn-outline-primary(type='button') Comment
    //-       button.btn.btn-outline-primary(type='button') Like
    //-       button.btn.btn-outline-primary(type='button') Repost
    //-     .btn-group(role='group', aria-label='Second group')
    //-       button.btn.btn-outline-secondary(type='button') 10m
    //- hr

    //- .post.container
    //-   .avatar-sm
    //-     img(src='/images/cat3.png')
    //-   .h6 @harry3
    //-   p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec blandit nibh, nec efficitur nulla. Sed consequat purus ut elit ullamcorper, ut bibendum urna auctor. Fusce vulputate tincidunt libero, ac iaculis mauris.
    //-   .btn-toolbar(role='toolbar' aria-label='Toolbar with button groups')
    //-     .btn-group.mr-2(role='group', aria-label='First group')
    //-       button.btn.btn-outline-primary(type='button') Comment
    //-       button.btn.btn-outline-primary(type='button') Like
    //-       button.btn.btn-outline-primary(type='button') Repost
    //-     .btn-group(role='group', aria-label='Second group')
    //-       button.btn.btn-outline-secondary(type='button') 10m
    //- hr

    //- .post.container
    //-   .avatar-sm
    //-     img(src='/images/cat.png')
    //-   .h6 @harry
    //-   p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec blandit nibh, nec efficitur nulla. Sed consequat purus ut elit ullamcorper, ut bibendum urna auctor. Fusce vulputate tincidunt libero, ac iaculis mauris.
    //-   .btn-toolbar(role='toolbar' aria-label='Toolbar with button groups')
    //-     .btn-group.mr-2(role='group', aria-label='First group')
    //-       button.btn.btn-outline-primary(type='button') Comment
    //-       button.btn.btn-outline-primary(type='button') Like
    //-       button.btn.btn-outline-primary(type='button') Repost
    //-     .btn-group(role='group', aria-label='Second group')
    //-       button.btn.btn-outline-secondary(type='button') 10m
    //- hr

    //- .post.container
    //-   .avatar-sm
    //-     img(src='/images/cat2.png')
    //-   .h6 @harry2
    //-   p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec blandit nibh, nec efficitur nulla. Sed consequat purus ut elit ullamcorper, ut bibendum urna auctor. Fusce vulputate tincidunt libero, ac iaculis mauris.
    //-   .btn-toolbar(role='toolbar' aria-label='Toolbar with button groups')
    //-     .btn-group.mr-2(role='group', aria-label='First group')
    //-       button.btn.btn-outline-primary(type='button') Comment
    //-       button.btn.btn-outline-primary(type='button') Like
    //-       button.btn.btn-outline-primary(type='button') Repost
    //-     .btn-group(role='group', aria-label='Second group')
    //-       button.btn.btn-outline-secondary(type='button') 10m
    //- hr

    //- .post.container
    //-   .avatar-sm
    //-     img(src='/images/cat.png')
    //-   .h6 @harry
    //-   p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec blandit nibh, nec efficitur nulla. Sed consequat purus ut elit ullamcorper, ut bibendum urna auctor. Fusce vulputate tincidunt libero, ac iaculis mauris.
    //-   .btn-toolbar(role='toolbar' aria-label='Toolbar with button groups')
    //-     .btn-group.mr-2(role='group', aria-label='First group')
    //-       button.btn.btn-outline-primary(type='button') Comment
    //-       button.btn.btn-outline-primary(type='button') Like
    //-       button.btn.btn-outline-primary(type='button') Repost
    //-     .btn-group(role='group', aria-label='Second group')
    //-       button.btn.btn-outline-secondary(type='button') 10m
    //- hr

    //- .post.container
    //-   .avatar-sm
    //-     img(src='/images/cat.png')
    //-   .h6 @harry
    //-   p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec blandit nibh, nec efficitur nulla. Sed consequat purus ut elit ullamcorper, ut bibendum urna auctor. Fusce vulputate tincidunt libero, ac iaculis mauris.
    //-   .btn-toolbar(role='toolbar' aria-label='Toolbar with button groups')
    //-     .btn-group.mr-2(role='group', aria-label='First group')
    //-       button.btn.btn-outline-primary(type='button') Comment
    //-       button.btn.btn-outline-primary(type='button') Like
    //-       button.btn.btn-outline-primary(type='button') Repost
    //-     .btn-group(role='group', aria-label='Second group')
    //-       button.btn.btn-outline-secondary(type='button') 10m
    //- hr

