doctype html
html

  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/javascripts/bootstrap.min.js')

  body
    .login-container
      h1 Login
      form.mt-4(action='/login', method='post')
        .form-group
          input#exampleInputEmail1.form-control(type='text', placeholder='Username', name='username')
        .form-group
          input#exampleInputPassword1.form-control(type='password', placeholder='Password', name='password')
        button.btn.btn-primary.btn-lg(type='submit') Login
        a(href='register') Need an account? Sign up.

        if error
          .alert.alert-danger.mt-3(role='alert')
            | #{error}


