extends user

include mixins/post
include mixins/modals

block profileContent

  //- Posts

  #posts.card-body.border-left.border-right
    +posts(profile.content)

  button#load-more.btn.btn-success.mt-3(type='button', data-page=1) Load More

  //- Modals

  +commentModal()
  +repostModal()
