extends user

include mixins/post
include mixins/modals

block profileContent

  //- Posts

  #posts.card-body.border-left.border-right

    each post in profile.content
      +post(post)

  //- Modals

  +commentModal()
  +repostModal()
