extends user

include mixins/post
include mixins/modals

block profileContent

  //- Posts

  #posts.card-body.border-left.border-right
    +posts(profile.content)

  .load-more#load-more(data-page=1)

  //- Modals

  +commentModal()
  +repostModal()
  +delPostModal()
