extends layout

include mixins/post
include mixins/modals
include mixins/alerts

block content

  //- Results

  .results
    #posts
      +posts(results)

    .load-more#load-more(data-page=1)

  //- Modals

  +commentModal()
  +repostModal()
  +alertsContainer()
