extends layout

include mixins/thread

block content

  .thread

    if replyTo
      +post(replyTo)

    +post(focus, true)

    if thread.length > 0
      .border-top.container

    each item in thread
      +post(item)
