extends layout

include mixins/thread
include mixins/modals

block content

  .thread

    if replyTo
      .container.p-0.mt-0.border-left.border-right
        +post(replyTo)

    +post(focus, true)

    #posts.posts.container.p-0.mt-0.border-left.border-right
      +thread(thread)

    .load-more#load-more(data-page=1)

  //- Modals

  +commentModal()
  +repostModal()
  +delPostModal()